{% extends 'auth_app/base.html' %}

{% load static %}
{% block body_block%}

<div class="jumbotron">
    {% if registered %}
    <h1>Thank for Registering!</h1>
    {% else %}
    <h1>Register Here!</h1>
    <h3>Fill out the Form!</h3>

    <form enctype="multipart/form-data" method="POST">

        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input value="Register" class="btn btn-primary" type="submit">

    </form>

    {% endif %}
</div>
{% endblock %}